.social {
  display: flex;
  width: 100%;
  justify-content: space-around;

  li {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    list-style: none;

    .label {
      text-transform: capitalize;
      font-family: _font(family);
    }
  }
}
